<!-- <div class="container-fluid">
    <div class="row first">
      <div class="col-sm">
        <app-chatbot></app-chatbot>
      </div>
      <div class="col-sm">
        <app-map></app-map>        
      </div>
    </div>
    <div class="row second">
        <app-recommendation-bar></app-recommendation-bar>
    </div>
</div>
<router-outlet></router-outlet> -->

<table>
  <tr class="firstRow">
    <td width="50"><app-chatbot></app-chatbot></td>
    <td><app-map></app-map></td>
  </tr>
  <tr class="secondRow">
    
      <app-recommendation-bar></app-recommendation-bar>
    
  </tr>
</table>